.Header {
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;

  &__logo {
    max-width: 50%;
    height: 40px;
    margin: var(--spacing-l);
    object-fit: contain;
  }

  &__checkout {
    margin: var(--spacing-m);
    text-transform: uppercase;
    font-weight: 700;
  }
}