.StoreContainer {
  width: 100vw;
  min-height: 100vh;

  &--message,
  &--loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--message {
    flex-direction: column;
    padding: var(--spacing-xxl);
    text-align: center;
    font-size: 1.2em;
  }
}