.ColorPicker {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
  margin: var(--spacing-s) 0;

  &__color {
    position: absolute;
    cursor: pointer;
    border-radius: 100px;
    inset: 0;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}