.Toggle {
  --toggle-height: 24px;
  --toggle-width: 48px;
  --toggle-transition: 0.1s;
  position: relative;
  display: inline-block;
  width: var(--toggle-width);
  height: var(--toggle-height);
  margin: var(--spacing-s) 0;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__input:checked+&__slider {
    background-color: var(--color-green);

    &::before {
      transform: translateX(calc(var(--toggle-width) - var(--toggle-height)));
    }
  }

  &__input:disabled+&__slider {
    cursor: not-allowed;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    transition: var(--toggle-transition);
    border-radius: 100px;

    &:before {
      position: absolute;
      content: "";
      height: calc(var(--toggle-height) - 4px);
      width: calc(var(--toggle-height) - 4px);
      left: 2px;
      bottom: 2px;
      border-radius: 100px;
      background-color: white;
      transition: var(--toggle-transition);
    }
  }
}