@import '../../../styles/ellipsis.scss';

.Form {
  &__errorMessage {
    margin: var(--spacing-l) var(--spacing-s);
    color: var(--color-red);
    font-weight: 500;
  }

  &__actionButton {
    color: inherit;
    padding: 8px;

    &--loading:after {
      @include loading;
    }
  }

  &__links {
    margin-top: var(--spacing-xxxl);
    text-align: center;
    font-size: 0.9em;
  }
}