.Manage {
  display: flex;
  overflow: auto;

  &__content {
    padding: var(--spacing-xl);
    flex-grow: 1;
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  &__comingSoon {
    max-width: 500px;
  }
}